body {
  font-family: arial;
  color: #0c7579;
}
a {
  color: #0c7579;
}
input {
  font-size: 0.5em;
}
.small {
  font-size: 14px;
}
.halfsize {
  width: 40%;
  float: left;
  height: 600px;
}
.fullsize {
  height: 600px;
}
h3.warn {
  color: #800;
}
#nav_pages {
  float: left;
  color: black;
}
#nav_user {
  float: right;
  color: black;
}
#nav_pages li,
#nav_user li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
#nav_pages li a,
#nav_user li a {
  color: white;
}
#body {
  width: 868px;
  min-height: 677px;
  margin: 0 auto;
  text-align: center;
}
#body-top {
  height: 180px;
  background-image: url(https://s3.amazonaws.com/dev_tapjoy/buffsets/buffsets-top.jpg);
  background-repeat: no-repeat;
}
#body-middle {
  min-height: 400px;
  background-image: url(https://s3.amazonaws.com/dev_tapjoy/buffsets/buffsets-middle.jpg);
  background-repeat: no-repeat;
  background-size: 868px 100%;
}
#body-bottom {
  height: 200px;
  background-image: url(https://s3.amazonaws.com/dev_tapjoy/buffsets/buffsets-bottom.jpg);
  background-repeat: no-repeat;
}
#prod {
  width: 360px;
  float: left;
  border-right: 3px solid #0c7579;
}
#sales {
  width: 360px;
  float: right;
}
.clear {
  clear: both;
}
#season-number-outside {
  position: relative;
}
#season-number {
  position: absolute;
  right: 150px;
  top: 85px;
  font-size: 80px;
  font-family: 'Walter Turncoat', cursive, arial;
}
.text {
  padding: 0px 60px;
  font-family: 'Walter Turncoat', cursive, arial;
  font-size: 30px;
  line-height: 32px;
}
.user {
  padding: 5px 15px 20px;
  max-width: 200px;
  float: left;
}
.user .handle {
  text-align: center;
  border-bottom: 3px solid #0c7579;
  white-space: nowrap;
}
.user .handle a {
  text-decoration: none;
}
.center {
  text-align: center;
}
form.edit_user {
  margin: 0;
}
.clear {
  clear: both;
}
#current_user .handle {
  color: #c00;
  border-bottom: 3px solid #c00;
}
#edit_current_user a {
  text-decoration: none;
}
.hidden {
  display: none;
}
#nodejs {
  position: fixed;
  right: 0;
  bottom: 0;
  border: none;
}
