mixin teamScores(team)
  h3 #{team.name} (#{team.score})
  - each user in team.users
    - myUser = (currentUser && user._id == String(currentUser._id))
    - user_id = myUser ? 'current_user' : "user_" + user._id
    .user(id=user_id)
      .handle
        a(href = '/users/' + user._id)= user.handle
      - if (myUser)
        .count#edit_current_user
          a(href = '#')= user.tally()
        .hidden#edit_current_user_form
          .center
            form.new_buffset.edit_user(action="/users/#{user._id}/buffsets/create", method="post", id='edit_user' + user._id)
              input(type="hidden", name="user[buffset_type]", value="pushup")
              input.btn.primary#user_submit(name="commit", type="submit", value="20 Push-ups")
            form.new_buffset.edit_user(action="/users/#{user._id}/buffsets/create", method="post", id='edit_user' + user._id)
              input(type="hidden", name="user[buffset_type]", value="situp")
              input.btn.primary#user_submit(name="commit", type="submit", value="20 Sit-ups")
            form.new_buffset.edit_user(action="/users/#{user._id}/buffsets/create", method="post", id='edit_user' + user._id)
              input(type="hidden", name="user[buffset_type]", value="pullup")
              input.btn.primary#user_submit(name="commit", type="submit", value="5 Pull-ups")
            form.new_buffset.edit_user(action="/users/#{user._id}/buffsets/create", method="post", id='edit_user' + user._id)
              input(type="hidden", name="user[buffset_type]", value="wallsits")
              input.btn.primary#user_submit(name="commit", type="submit", value="Wall sit")
          .clear
          input.btn#cancel_edit(type="submit", value="cancel")
      - else
        .count= user.tally()

!!! 5
html
  include ../includes/head
  body
    include ../includes/toolbar
    .container#body
      #body-top
        #season-number-outside
          #season-number 3
      #body-middle
        #users.text
          - if ( currentUser && ! currentUser.active)
            h3.warn Your account has not been activated yet. Go yell at Hwan-Joon until it is.
          section#prod
            mixin teamScores(teams[0])
          section#sales
            mixin teamScores(teams[1])
        .clear
      #body-bottom
    include ../includes/footer
